div {
    width: 100px;
    height: 100px;
    background-color: #EEE;
    box-shadow: 5px 0 #ff5722, -5px 0 #03a9f4;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #ff5722;
}