body {
    margin: 0;
}

div {
    width: 100px;
    height: 100px;
    position: absolute;
}

.blue {
    background-color: #03a9f4;
    left: 20px;
    top: 20px;
    z-index: 1;
}

.green {
    background-color: #009688;
    left: 30px;
    top: 30px;
    z-index: 2;
}

.red {
    background-color: #f44336;
    left: 40px;
    top: 40px;
    z-index: 3;
}

.black {
    background-color: black;
    left: 20px;
    top: 30px;
    z-index: -1;
}